<div class="row">
  <div>
    <div class="input-group col-12 mt-2 mb-3">
      <input
        [(ngModel)]="phrase"
        type="text"
        class="form-control"
        placeholder="search"
      >
  </div>
  <div class="col-12 mt-2">
    <button class="col-12 btn btn-info"><i class="fa fa-plus"></i></button>
  </div>
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="sort('id')" style="cursor: pointer;">#</th>
          <th (click)="sort('name')" style="cursor: pointer;">Name</th>
          <th (click)="sort('email')" style="cursor: pointer;">Email</th>
          <th (click)="sort('address')" style="cursor: pointer;">Address</th>
          <th (click)="sort('active')" style="cursor: pointer;">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter: phrase | orderBy:sortColumn:reverse">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
